.afisha__titles{
    grid-column: 10;

    font-size: var(--h1-font);
    font-weight: var(--extra-bold);

    @media (max-width: 1300px) {
        grid-column: 1;
    }

    @media (max-width: 710px) {
        font-size: var(--h1-mob);
    }
}