:root{
    --width-block: min(100% - 24px, 81rem);

    --dark-color: #191919;
    --light-color: #FFFFFF;
    --grin-color: #05B093; 

    --normol: 400;
    --bold: 600;
    --extra-bold: 700;

    --h1-font: 48px;
    --h2-font: 32px;
    --h3-font: 24px;

    --h1-mob: 32px;
    --h2-mob: 24px:
    --h3-mob: 18px;

    --smol-size: 14px;
    --big-size: 64px;

    --Garamond: "EB Garamond", serif;
    --Fira-Sans: "Fira Sans", sans-serif;


    --z-100: 100;
    --z-200: 200;
    --z-300: 300;
}